/* Asegúrate de que el contenedor principal tenga estas propiedades */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    margin: 0;
    background-color: #f5f5f5; /* Fondo opcional */
  }
  