# Dependencias locales
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Builds locales
dist

# Control de versiones
.git
.gitignore

# Editor / SO
.vscode
.idea
.DS_Store
Thumbs.db

# Tests / coverage
coverage

# Docs innecesarios
README.md

# Docker files que no se usan
docker/
